<div class="container rounded bg-light">
  <div class="row justify-content-center gap-3 p-3">
    <div class="col-5">
      <div class=" my-3 border rounded-top" ><strong>first_name: </strong><div class="bg-secondary-subtle rounded-bottom"><%= first_name = @user.first_name ? @user.first_name : "no firstname available"%></div></div>
      <div class=" my-3 border rounded-top"><strong>last_name: </strong><div class="bg-secondary-subtle rounded-bottom"><%= last_name = @user.last_name ? @user.last_name : "no lastname available"%></div></div>
      <div class=" my-3 border rounded-top"><strong>address: </strong><div class="bg-secondary-subtle rounded-bottom"><%= address = @user.address ? @user.address : "no address available"%></div></div>
      <div class=" my-3 border rounded-top"><strong>email: </strong><div class="bg-secondary-subtle rounded-bottom"><%= @user.email%></div></div>
      <div class=" my-3 border rounded-top"><strong>password: </strong><div class="bg-secondary-subtle rounded-bottom"><%= "." * 12%></div></div>
      <%= link_to "edit", edit_user_path, class: "btn btn-primary" %>

    </div>


    <div class="col-5 d-flex flex-column align-items-center justify-content-center border">
      <img class="mt-3" src="#" alt="" width="150px" height="150px"/>
      <strong class="mt-3">profile picture</strong>
    </div>
  </div>
</div>
