<%= javascript_importmap_tags %>

<div class="home-container">
  <h3 class="page-title home">A guided surf-forecast for beginner surfer</h3>
  <div class="search-wrapper">

<!--!     COUNTRY BUTTON AND DROPDOWN     -->
    <%= render "shared/dropdown_menu",
      wrapper_class: 'country-wrapper',
      title: 'Country',
      dropdown_type: 'country',
      button_class: 'btn-country',
      button_text: 'Country',
      items: @countries,
      placeholder_text: 'Select a country' %>

<!--!     REGION BUTTON AND DROPDOWN     -->
    <%= render "shared/dropdown_menu",
      wrapper_class: 'region-wrapper',
      title: 'Region',
      dropdown_type: 'region',
      button_class: 'btn-region',
      button_text: 'Region',
      items: @regions,
      placeholder_text: 'Select a country first' %>

<!--!     BREAK BUTTON AND DROPDOWN     -->
    <%= render "shared/dropdown_menu",
      wrapper_class: 'break-wrapper',
      title: 'Break',
      dropdown_type: 'break',
      button_class: 'btn-break',
      button_text: 'Break',
      items: @breaks,
      placeholder_text: 'Select a country first' %>

  </div>
</div>

<!--! Hidden templates for JavaScript to use -->
<div style="display: none;">
 <div id="weather-template">
    <%= render 'shared/weather_display',
      location_data: @location_structure %>
  </div>
  <div id="card-template"
       data-controller="forecast"
       data-dropdown-target="card"
       data-action="click->forecast#focusOnCard">
    <%= render 'shared/break_card' %>
  </div>
</div>

<div data-controller="forecast">
  <button
    id="show-flowchart-button"
    data-action="click->forecast#switchToFlowChart">
    Show Flowchart (placeholder for time slot selection)
  </button>
</div>

<div id="flowchart-container" style="margin-top: 30px; display: none;">
  <div id="svg-container"></div>
</div>
