<%= javascript_importmap_tags %>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
  <div class="offcanvas-header">
        <%= image_tag "SurfSense_logo.svg", style: "width: 150px; margin-top: 5px" %>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      <div>
        <p>Surf forecasts can be hard to interpret when you're just starting to use them.
          And that confusion can lead to disappointing sessions – or worse, unsafe ones.
          SurfSense is a guided surf forecast aimed at helping beginner surfers learn how
          to read and use marine & weather forecast data.</p>
        <div class="mt-5">
        <h5><strong>How It Works</strong></h5>
        <p style="font-weight: bold"><strong>1 Choose your surf spot</strong></p>
        <%= image_tag "01_pick.png", style: "width: 250px; display: block; margin: 0 auto" %>
        <p class="mb-5">Just like with any forecast tool, start by picking the location you want to surf at.</p>
        <p class="mb-0"><strong>2 Select a time slot</strong></p>
        <%= image_tag "02_time.png",  class: "mb-2", style: "width: 250px; display: block; margin: 0 auto" %>
        <p class="mb-5">Choose the time you're considering paddling out and start by focusing on this data only.</p>
        <p><strong>3 Explore the forecast interactively</strong></p>
        <%= image_tag "03_graph.png", style: "width: 200px; display: block; margin: 0 auto" %>
        <p class="mb-5">Click on the info nodes to reveal the information you need. The Graph guides you through the meaning behind each forecast variable.</p>
        <p><strong>4 Build experience through comparison</strong></p>
        <%= image_tag "04_save.png", style: "width: 200px; display: block; margin: 0 auto" %>
        <p class="mb-5">Save the forecast before your session and rate it afterward. Was it epic or a wipeout?
          Comparing your rating with the actual forecast helps you develop a feel for how the numbers
          translate into real surf.</p>
      </div>
      </div>
  <div>
    <p>Data source: <a href="https://open-meteo.com" target="_blank" rel="noopener noreferrer"  style="color: white"><strong>Open-Meteo Marine & Weather Forecast</strong></a></p>
  </div>
  </div>
</div>


<div class="home-container">
  <h3 class="page-title home">A guided surf-forecast for beginner surfers</h3>
  <div class="search-wrapper">

<!--!     COUNTRY BUTTON AND DROPDOWN     -->
    <%= render "shared/dropdown_menu",
      wrapper_class: 'country-wrapper',
      title: 'Country',
      dropdown_type: 'country',
      button_class: 'btn-country',
      button_text: 'Country',
      items: @countries,
      placeholder_text: 'Select a country' %>

<!--!     REGION BUTTON AND DROPDOWN     -->
    <%= render "shared/dropdown_menu",
      wrapper_class: 'region-wrapper',
      title: 'Region',
      dropdown_type: 'region',
      button_class: 'btn-region',
      button_text: 'Region',
      items: @regions,
      placeholder_text: 'Select a country first' %>

<!--!     BREAK BUTTON AND DROPDOWN     -->
    <%= render "shared/dropdown_menu",
      wrapper_class: 'break-wrapper',
      title: 'Break',
      dropdown_type: 'break',
      button_class: 'btn-break',
      button_text: 'Break',
      items: @breaks,
      placeholder_text: 'Select a country first' %>

  </div>
</div>

<!--! Hidden templates for JavaScript to use -->
<div style="display: none;">
 <div id="weather-template"
      data-controller="save-location forecast"
      data-save-location-locations-value="<%= @locations.to_json %>"
      data-forecast-saved-forecasts-value="<%= @saved_forecasts.to_json %>">
    <%= render 'shared/weather_display' %>
  </div>
  <div id="card-template"
       data-controller="save-location"
       data-dropdown-target="card"
       data-save-location-locations-value="<%= @locations.to_json %>"
       data-action="click->forecast#focusOnCard">
    <%= render 'shared/break_card' %>
  </div>
</div>
<div id="saved-forecasts-template" style="display: none;">
  <%= render 'shared/saved_forecast_card' %>
</div>
