<%= javascript_importmap_tags %>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="staticBackdropLabel"><strong>SurfSense</strong></h4>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      <div>
        <p>Surf forecasts can be hard to interpret when you're just starting to use them. Swell, wind, tides, period...
          And that confusion can lead to disappointing sessions – or worse, unsafe ones.
          SurfSense is a guided surf forecast aimed at helping beginner surfers learn how to read and use surf data.</p>
        <div class="mt-5">
        <h5><strong>How It Works</strong></h5>
        <p style="font-weight: bold"><strong>1 Choose your surf spot.</strong></p>
        <p>Just like any forecast tool—start by picking the location you want to surf.</p>
        <p><strong>2 Select a time slot.</strong></p>
        <p>Choose the day and time you're considering paddling out.</p>
        <p><strong>3 Explore the forecast interactively.</strong></p>
        <p>Click on the info nodes to reveal the information you need. We’ll guide you through the meaning behind each forecast variable.</p>
        <p><strong>4 Build experience through comparison.</strong></p>
        <p>Save the forecast before your session and rate it afterward. Was it epic or a wipeout? Comparing your rating with the actual forecast helps you develop a feel for how the numbers translate into real surf.</p>
      </div>
      </div>
  <div>
    <p>Data source: <a href="https://open-meteo.com" target="_blank" rel="noopener noreferrer"  style="color: white"><strong>Open-Meteo Marine & Weather Forecast</strong></a></p>
  </div>
  </div>
</div>


<div class="home-container">
  <h3 class="page-title home">A guided surf-forecast for beginner surfer</h3>
  <div class="search-wrapper">

<!--!     COUNTRY BUTTON AND DROPDOWN     -->
    <%= render "shared/dropdown_menu",
      wrapper_class: 'country-wrapper',
      title: 'Country',
      dropdown_type: 'country',
      button_class: 'btn-country',
      button_text: 'Country',
      items: @countries,
      placeholder_text: 'Select a country' %>

<!--!     REGION BUTTON AND DROPDOWN     -->
    <%= render "shared/dropdown_menu",
      wrapper_class: 'region-wrapper',
      title: 'Region',
      dropdown_type: 'region',
      button_class: 'btn-region',
      button_text: 'Region',
      items: @regions,
      placeholder_text: 'Select a country first' %>

<!--!     BREAK BUTTON AND DROPDOWN     -->
    <%= render "shared/dropdown_menu",
      wrapper_class: 'break-wrapper',
      title: 'Break',
      dropdown_type: 'break',
      button_class: 'btn-break',
      button_text: 'Break',
      items: @breaks,
      placeholder_text: 'Select a country first' %>

  </div>
</div>

<!--! Hidden templates for JavaScript to use -->
<div style="display: none;">
 <div id="weather-template"
      data-controller="save-location forecast"
      data-save-location-locations-value="<%= @locations.to_json %>"
      data-forecast-saved-forecasts-value="<%= @saved_forecasts.to_json %>">
    <%= render 'shared/weather_display' %>
  </div>
  <div id="card-template"
       data-controller="save-location"
       data-dropdown-target="card"
       data-save-location-locations-value="<%= @locations.to_json %>"
       data-action="click->forecast#focusOnCard">
    <%= render 'shared/break_card' %>
  </div>
</div>
<div id="saved-forecasts-template" style="display: none;">
  <%= render 'shared/saved_forecast_card' %>
</div>
